<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}PIN iT{% endblock title %}</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
            <style>
                body {
                    background-image: url("http://cdn.paper4pc.com/images/space-cosmic-nebulae-stars-wallpaper-2.jpg");
                }

                .thumbnail {
                    background-color: #f0f0f0;
                }

                .form-inline {
                    padding: 20px;
                }

                .col-md-4 {
                width: 33.33333333%;
                }

                .notes {
                    height: 280px;
                }

                a, a:hover {
                    color: black;
                    text-decoration: none;
                }
            </style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-md-4">
                </div>
                <div class="col-xs-6 col-md-4">
                    {% if user.is_authenticated %}
                        {% block addnote %}{% endblock addnote %}
                    {% endif %}
                </div>
                    <div class="col-xs-6 col-md-4" style="float: right; padding: 20px; width: 15%">
                        {% if user.is_authenticated %}
                                <div class="input-group">
                                  <input type="text" class="form-control" value="{{ user.username }}" disabled>
                                  <span class="input-group-btn">
                                    <a href="./logout"><button class="btn btn-primary" type="button">Logout</button></a>
                                  </span>
                                </div>

                        {% else %}
                            <h4  style="float: right; color: #ffffff;">
                                <a href="./login"  class="btn btn-primary btn-right" role="button">Sign in</a> or
                                <a href="./register"  class="btn btn-primary btn-right" role="button">Sign up</a>
                            </h4>
                        {% endif %}
                    </div>
                </div>
            <div class="row">
                {% if user.is_authenticated or notes %}
                    <div class="col-xs-10 col-sm-9">
                        {% block guestbook %}{% endblock guestbook %}
                            {% if notes %}
                                <hr>
                            {% else %}
                            <div class="jumbotron" style="width: 50%; color: white; background-color: inherit; text-align: center; margin-left: auto; margin-right: auto;">
                      <p style="text-shadow: 2px 2px 3px black">You can add your first bookmark by pasting url above and clicking '+ add'</p>
                            </div>
                            {% endif %}
                        {% block content %}{% endblock content %}
                        {% block notes %}{% endblock notes %}
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        {% block search %}{% endblock search %}
                    {% if user.is_authenticated %}
                        {% block share %}{% endblock share %}
                    {% endif %}
                    </div>
                {% else %}
                    <div class="jumbotron" style="width: 50%; color: white; background-color: inherit; text-align: center; margin-left: auto; margin-right: auto;">
                      <h1>Hey there!</h1>
                      <p style="text-shadow: 2px 2px 3px black">Welcome to the bookmark exchange platform.<br> You'd pobably need to sign in or sign up to start</p>
                        <br>
                      <p><a class="btn btn-primary btn-lg" href="/about" role="button">About me</a></p>
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>