{% extends 'base.html' %}

{% block title %}
    {{ block.super}} | Guestbook
{% endblock title %}

{% block guestbook %}
<h1>G U E S T B O O K</h1>
<hr>
    {% for comment in comments %}
        <h4>{{ comment.name }}:</h4>
        <p>{{ comment.text }}</p>
        <hr>
    {% endfor %}
    <form method="POST" action="">{% csrf_token %}
        <input type="text" name="name" width="80">
        <br>
        <p>
            <textarea name="text" rows="3" cols="40"></textarea>
        </p>
        <input type="submit" value="send">
    </form>
{% endblock guestbook %}